h1 {
  font-family: Times, Helvetica;
  color: #1F7A99;
  text-align: center;
}

h2 {
  font-family: Georgia, Helvetica;
  color: #263535;
}

h3 {
  font-family: Verdana, Helvetica;
  color: #E4E4E4;
}

h4 {
  font-family: Times, Helvetica;
  color: #263535;
}

h5 {
  font-family: Courier, Helvetica;
  color: #1F7A99;
}

h6 {
  font-family: Times, Helvetica;
  color: #E4E4E4;
}

body {
  background-color: #878888;
}

.login {
  border: 2px solid #263535;
  border-radius: 10px;
  padding: 10px;
}

label {
  font-family: Times, Helvetica;
  color: #1F7A99;
}

a:link {
  color: #FFFFFF;
}

a:active {
  color: #008F6B;
}

a:hover {
  color: #FF7519;
}

a:visited {

}
